<h1>Demo Layout Renderer</h1>
<h2>Dossiers</h2>
<ul>
  <li *ngIf="dossiers.length === 0">Geen dossiers</li>
  <li *ngFor="let dossier of dossiers">{{dossier.type}} - {{dossier.dossierNr}} - {{dossier.description}}</li>
</ul>
<hr>
<div>
  <label for="dossierNr">Dossiernr   </label><input type="text" name="dossierNr" [(ngModel)]="dossierNr">
  <select [(ngModel)]="templateId">
    <option value="my-template-1.html">no type</option>
    <option value="sgw-template.html">SGW</option>
    <option value="et-template.html">ET</option>
  </select>
  <button type="button" (click)="loadTemplate()">Creëer</button>
</div>
<hr>
<h3>[layout renderer content]</h3>
<ng-template #lrContainer></ng-template>
